.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__lYoF {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("/plasmic/commerce_landing_page/images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__lYoF {
    padding-bottom: 0px;
  }
}
.container3 {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__do2Ue {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__do2Ue > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__do2Ue > :global(.__wab_flex-container) > *,
.freeBox__do2Ue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__do2Ue > :global(.__wab_flex-container) > picture > img,
.freeBox__do2Ue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__iAje0 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__iAje0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iAje0 > :global(.__wab_flex-container) > *,
.freeBox__iAje0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iAje0 > :global(.__wab_flex-container) > picture > img,
.freeBox__iAje0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text___5I5Y4 {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-b6PgdKt6e8xvyM);
  min-width: 0;
}
.button__xesaO:global(.__wab_instance) {
  position: relative;
}
.svg__roc1O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oEr6C {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__jz8Do {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__knjxN {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__io4Ol {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button___3OguZ:global(.__wab_instance) {
  position: relative;
}
.svg__vdvpk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bfwbl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard__gaqEx:global(.__wab_instance) {
  position: relative;
}
.svg__w1FtV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xj7Op {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ehZ9B {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text__f48Pa {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-SuieztFlq53hm1);
  min-width: 0;
}
.rating___12Jop:global(.__wab_instance) {
  position: relative;
}
.productCard___4WdpX:global(.__wab_instance) {
  position: relative;
}
.svg___1KEss {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w9Gwd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___4Yvn {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__csgE9 {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__kpnvf:global(.__wab_instance) {
  position: relative;
}
.productCard__bawoM:global(.__wab_instance) {
  position: relative;
}
.svg__guevK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Z71Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___27Z6Q {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__qsPh {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__m113:global(.__wab_instance) {
  position: relative;
}
.productCard___2HUH:global(.__wab_instance) {
  position: relative;
}
.svg__hmsui {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cqeo5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sWpqM {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__dgMcJ {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating___1SZiK:global(.__wab_instance) {
  position: relative;
}
.productCard__nXuC4:global(.__wab_instance) {
  position: relative;
}
.svg__ultJp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yJb5D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__a7MEd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__iYKyE {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__f3YDb:global(.__wab_instance) {
  position: relative;
}
.productCard__zzlOe:global(.__wab_instance) {
  position: relative;
}
.svg___0HI6N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zv3TM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pjQhJ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__bg8Pu {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-SuieztFlq53hm1);
  min-width: 0;
}
.rating__ox2Lr:global(.__wab_instance) {
  position: relative;
}
.section__aF4Sz {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox___6NMg {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox___6NMg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___6NMg > :global(.__wab_flex-container) > *,
.freeBox___6NMg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6NMg > :global(.__wab_flex-container) > picture > img,
.freeBox___6NMg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6NMg {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6NMg > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6NMg > :global(.__wab_flex-container) > *,
  .freeBox___6NMg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6NMg > :global(.__wab_flex-container) > picture > img,
  .freeBox___6NMg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__phyP2 {
  flex-direction: column;
  display: flex;
}
.freeBox__phyP2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__phyP2 > :global(.__wab_flex-container) > *,
.freeBox__phyP2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__phyP2 > :global(.__wab_flex-container) > picture > img,
.freeBox__phyP2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kPWy {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kPWy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kPWy > :global(.__wab_flex-container) > *,
.freeBox__kPWy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kPWy > :global(.__wab_flex-container) > picture > img,
.freeBox__kPWy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__kPdwo {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__wggMb {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__nzkYi {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nzkYi > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__nzkYi > :global(.__wab_flex-container) > *,
.freeBox__nzkYi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nzkYi > :global(.__wab_flex-container) > picture > img,
.freeBox__nzkYi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nzkYi {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nzkYi > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nzkYi > :global(.__wab_flex-container) > *,
  .freeBox__nzkYi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nzkYi > :global(.__wab_flex-container) > picture > img,
  .freeBox__nzkYi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__nknQc {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__jzk40 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yXgcu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column__axAhM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__gnmsS:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__gag6I {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__mnwt {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__qRBkI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__r7AaC:global(.__wab_instance) {
  position: relative;
}
.svg__lLf6B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qqMl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__jdgUp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__cQs7N:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__u7AcK {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__tpe34 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__jqRh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__tCoB:global(.__wab_instance) {
  position: relative;
}
.svg__dDdSy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iDaDb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qMiSs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___1J2J9:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___1J2J9:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__arSzc {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__egxmy {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__maKxL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__vvQ8Q:global(.__wab_instance) {
  position: relative;
}
.svg__fn8KU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h88Ub {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__hSxpS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__ySdMm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text___8BMhc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__ca2Mw:global(.__wab_instance) {
  position: relative;
}
.svg__q02CX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__msW10 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox___3RFlj {
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox___3RFlj > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___3RFlj > :global(.__wab_flex-container) > *,
.freeBox___3RFlj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3RFlj > :global(.__wab_flex-container) > picture > img,
.freeBox___3RFlj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__ecAEi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j96JD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__w0OX5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___0Yn93 {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating___4Phan:global(.__wab_instance) {
  position: relative;
}
.productCard__ud0C:global(.__wab_instance) {
  position: relative;
}
.svg__br51X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0WM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__h3MtN {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ctchn {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__afbas:global(.__wab_instance) {
  position: relative;
}
.productCard___0RcCh:global(.__wab_instance) {
  position: relative;
}
.svg__sJ6JJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Jd3S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___1SZtL {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__gRoUt {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__emAr:global(.__wab_instance) {
  position: relative;
}
.productCard__j1Ahp:global(.__wab_instance) {
  position: relative;
}
.svg___6L1C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ydi0B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__lCv7Z {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ipAmH {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__okTqi:global(.__wab_instance) {
  position: relative;
}
.productCard___8Gbv9:global(.__wab_instance) {
  position: relative;
}
.svg__efbL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Ivgu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___2MDEk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ksoGm {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating___5UX3L:global(.__wab_instance) {
  position: relative;
}
.productCard__gyDlG:global(.__wab_instance) {
  position: relative;
}
.svg___66IZi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pOhza {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__oIzzc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__nG8On {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-SuieztFlq53hm1);
  min-width: 0;
}
.rating__siZkj:global(.__wab_instance) {
  position: relative;
}
.section__nYvjl {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  flex-direction: row;
  max-width: 1366px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__z3Nsp {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__z3Nsp > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__z3Nsp > :global(.__wab_flex-container) > *,
.freeBox__z3Nsp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z3Nsp > :global(.__wab_flex-container) > picture > img,
.freeBox__z3Nsp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__svQqe {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__pk2S:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__svAeG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__kccKw {
  height: auto;
}
.svg__lbUoa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fV8Ow:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__g2Ih7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9QZs6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xInA:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__qT63E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dLrdV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__m4BSp:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__psXfY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f6SlG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zAPk:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__zEdO8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eI3Cz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ybyob:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__hu982 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__iFt {
  height: auto;
}
.svg__bcWmg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__aN76D {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__aN76D > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aN76D > :global(.__wab_flex-container) > *,
.freeBox__aN76D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aN76D > :global(.__wab_flex-container) > picture > img,
.freeBox__aN76D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aN76D > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__cxeW:global(.__wab_instance) {
  position: relative;
}
.svg___8PnL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___57Akp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yweFr {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__riJd {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__eeEs7:global(.__wab_instance) {
  position: relative;
}
.productCard__aOdP9:global(.__wab_instance) {
  position: relative;
}
.svg__pImxU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1ZqG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qSpfk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__imkf5 {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__g38W:global(.__wab_instance) {
  position: relative;
}
.productCard___7DLjz:global(.__wab_instance) {
  position: relative;
}
.svg__aFdss {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dBQyn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__nAk5C {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__aSpUk {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating___9LhK:global(.__wab_instance) {
  position: relative;
}
.productCard__c3J2:global(.__wab_instance) {
  position: relative;
}
.svg__b3IcP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yiDmk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__cz19D {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___5X7Jl {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__pEznK:global(.__wab_instance) {
  position: relative;
}
.productCard__l0Mau:global(.__wab_instance) {
  position: relative;
}
.svg__clBf0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9EQ0E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__wx9Ga {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__gGsQd {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__our6I:global(.__wab_instance) {
  position: relative;
}
.productCard__j1J6:global(.__wab_instance) {
  position: relative;
}
.svg__jaFxY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xVZtU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__nog2J {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1RwD7 {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__d5AXg:global(.__wab_instance) {
  position: relative;
}
.productCard__zjPvw:global(.__wab_instance) {
  position: relative;
}
.svg__frODt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__p8UYm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__lWywc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__eRLp {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__z41L:global(.__wab_instance) {
  position: relative;
}
.productCard__bRsHh:global(.__wab_instance) {
  position: relative;
}
.svg__y8QjX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__flHyx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ziApJ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___9OP8R {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating___90JEw:global(.__wab_instance) {
  position: relative;
}
.productCard__umViD:global(.__wab_instance) {
  position: relative;
}
.svg__hvwrj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mijaL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___2Tli1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__u8CsV {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__stziL:global(.__wab_instance) {
  position: relative;
}
.productCard__xNmq4:global(.__wab_instance) {
  position: relative;
}
.svg__lv9Yl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Voot {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ersyF {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__xuOtU {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__y1C7I:global(.__wab_instance) {
  position: relative;
}
.productCard__aaQho:global(.__wab_instance) {
  position: relative;
}
.svg__eCoJp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oZnOi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yZik {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__tequX {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating___9NrrT:global(.__wab_instance) {
  position: relative;
}
.productCard___6T8Ir:global(.__wab_instance) {
  position: relative;
}
.svg__b46Rk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0RUgu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__kt6H8 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__h6Iej {
  width: 100%;
  height: auto;
  color: var(--token-SuieztFlq53hm1);
  text-align: left;
  min-width: 0;
}
.rating__sz7Ky:global(.__wab_instance) {
  position: relative;
}
.section___7QEvB {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value___2Qooo:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__xbzNp {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__fRqJi {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__do0N3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__qu4AZ:global(.__wab_instance) {
  position: relative;
}
.svg__hxRzm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yanfT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__sTeJp {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__vfDca {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__tylmJ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__tylmJ:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__k4X {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__a64RG {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__mmC5R:global(.__wab_instance) {
  position: relative;
}
.svg__he6Kw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yiWpX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mpCij {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__eundz:global(.__wab_instance) {
  position: relative;
}
.svg__oVwwW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3OwFn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__kgfvx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___5X3Wj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___5X3Wj:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__kOuHu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__tyjAn {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__mCLuT:global(.__wab_instance) {
  position: relative;
}
.svg__aCcE6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4Nwwo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hYoJs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__n8XXv:global(.__wab_instance) {
  position: relative;
}
.svg__jYp3R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qc0Pr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__zt00W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__e0Rjd:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__e0Rjd:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__xD9M3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__edHd9 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__zkOet:global(.__wab_instance) {
  position: relative;
}
.svg__wFkO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5Q8KZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eVKi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___6KVz8:global(.__wab_instance) {
  position: relative;
}
.svg__buK4B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bxa8J {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__jqUrw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__mkLT:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__mkLT:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__bbXjv {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__ouvRa {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___2N3MJ:global(.__wab_instance) {
  position: relative;
}
.svg__s7Wht {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zCol6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__onDXp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__ebiWs:global(.__wab_instance) {
  position: relative;
}
.svg__weQpS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m80UL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
