@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-dk1H0-Wpo3tfk3: #007aff;
  --plasmic-token-blue: var(--token-dk1H0-Wpo3tfk3);
  --token-b6PgdKt6e8xvyM: #333333;
  --plasmic-token-primary-label: var(--token-b6PgdKt6e8xvyM);
  --token-SuieztFlq53hm1: #666666;
  --plasmic-token-secondary-label: var(--token-SuieztFlq53hm1);
  --token-ijZT1MMEguFULH: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-ijZT1MMEguFULH);
  --token-eXU943TTa9tr_z: #ffcc00;
  --plasmic-token-star-color: var(--token-eXU943TTa9tr_z);
}

.plasmic_default_styles {
  --mixin-e7-c6lkpq-ml3l_font-family: "Inter", sans-serif;
  --mixin-e7-c6lkpq-ml3l_font-size: 16px;
  --mixin-e7-c6lkpq-ml3l_font-style: normal;
  --mixin-e7-c6lkpq-ml3l_color: #333333;
  --mixin-e7-c6lkpq-ml3l_text-align: left;
  --mixin-e7-c6lkpq-ml3l_text-transform: none;
  --mixin-e7-c6lkpq-ml3l_white-space: pre-wrap;
  --mixin-e7-c6lkpq-ml3l_user-select: text;
  --mixin-e7-c6lkpq-ml3l_text-decoration-line: none;
  --mixin-e7-c6lkpq-ml3l_text-overflow: clip;
  --mixin-e7-c6lkpq-ml3l_line-height: 1.5;
  --mixin-kvELUduuvprvr__font-family: "Inter", sans-serif;
  --mixin-kvELUduuvprvr__color: #000000;
  --mixin-kvELUduuvprvr__font-size: 48px;
  --mixin-kvELUduuvprvr__font-weight: 700;
  --mixin-kvELUduuvprvr__letter-spacing: -1px;
  --mixin-kvELUduuvprvr__line-height: 1.1;
  --mixin-kvELUduuvprvr__white-space: pre-wrap;
  --mixin-Dh3d7Z1viIpt7P_font-family: "Inter", sans-serif;
  --mixin-Dh3d7Z1viIpt7P_color: #000000;
  --mixin-Dh3d7Z1viIpt7P_font-size: 32px;
  --mixin-Dh3d7Z1viIpt7P_font-weight: 600;
  --mixin-Dh3d7Z1viIpt7P_letter-spacing: -0.8px;
  --mixin-Dh3d7Z1viIpt7P_line-height: 1.2;
  --mixin-Dh3d7Z1viIpt7P_white-space: pre-wrap;
  --mixin-uXB6_N8JaPboET_font-family: "Inter", sans-serif;
  --mixin-uXB6_N8JaPboET_color: #000000;
  --mixin-uXB6_N8JaPboET_font-size: 24px;
  --mixin-uXB6_N8JaPboET_font-weight: 600;
  --mixin-uXB6_N8JaPboET_letter-spacing: -0.5px;
  --mixin-uXB6_N8JaPboET_line-height: 1.3;
  --mixin-uXB6_N8JaPboET_white-space: pre-wrap;
  --mixin-2_g2iENME8WRkE_font-family: "Inter", sans-serif;
  --mixin-2_g2iENME8WRkE_color: #000000;
  --mixin-2_g2iENME8WRkE_font-size: 20px;
  --mixin-2_g2iENME8WRkE_font-weight: 600;
  --mixin-2_g2iENME8WRkE_letter-spacing: -0.3px;
  --mixin-2_g2iENME8WRkE_line-height: 1.5;
  --mixin-2_g2iENME8WRkE_white-space: pre-wrap;
  --mixin-f5QYTjUJJ8Qdh0_font-family: "Inter", sans-serif;
  --mixin-f5QYTjUJJ8Qdh0_color: #000000;
  --mixin-f5QYTjUJJ8Qdh0_font-size: 16px;
  --mixin-f5QYTjUJJ8Qdh0_font-weight: 600;
  --mixin-f5QYTjUJJ8Qdh0_line-height: 1.5;
  --mixin-f5QYTjUJJ8Qdh0_white-space: pre-wrap;
  --mixin-YgY-CYkkW-nlnn_border-left-color: #dddddd;
  --mixin-YgY-CYkkW-nlnn_border-left-style: solid;
  --mixin-YgY-CYkkW-nlnn_border-left-width: 3px;
  --mixin-YgY-CYkkW-nlnn_color: #888888;
  --mixin-YgY-CYkkW-nlnn_padding-left: 10px;
  --mixin-YgY-CYkkW-nlnn_white-space: pre-wrap;
  --mixin-_DgeW-WACwXytR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_DgeW-WACwXytR_border-bottom-color: #dddddd;
  --mixin-_DgeW-WACwXytR_border-bottom-style: solid;
  --mixin-_DgeW-WACwXytR_border-bottom-width: 1px;
  --mixin-_DgeW-WACwXytR_border-left-color: #dddddd;
  --mixin-_DgeW-WACwXytR_border-left-style: solid;
  --mixin-_DgeW-WACwXytR_border-left-width: 1px;
  --mixin-_DgeW-WACwXytR_border-right-color: #dddddd;
  --mixin-_DgeW-WACwXytR_border-right-style: solid;
  --mixin-_DgeW-WACwXytR_border-right-width: 1px;
  --mixin-_DgeW-WACwXytR_border-top-color: #dddddd;
  --mixin-_DgeW-WACwXytR_border-top-style: solid;
  --mixin-_DgeW-WACwXytR_border-top-width: 1px;
  --mixin-_DgeW-WACwXytR_border-bottom-left-radius: 3px;
  --mixin-_DgeW-WACwXytR_border-bottom-right-radius: 3px;
  --mixin-_DgeW-WACwXytR_border-top-left-radius: 3px;
  --mixin-_DgeW-WACwXytR_border-top-right-radius: 3px;
  --mixin-_DgeW-WACwXytR_font-family: "Inconsolata";
  --mixin-_DgeW-WACwXytR_padding-bottom: 1px;
  --mixin-_DgeW-WACwXytR_padding-left: 4px;
  --mixin-_DgeW-WACwXytR_padding-right: 4px;
  --mixin-_DgeW-WACwXytR_padding-top: 1px;
  --mixin-_DgeW-WACwXytR_white-space: pre-wrap;
  --mixin-yelEd06EmqfWI__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-yelEd06EmqfWI__border-bottom-color: #dddddd;
  --mixin-yelEd06EmqfWI__border-bottom-style: solid;
  --mixin-yelEd06EmqfWI__border-bottom-width: 1px;
  --mixin-yelEd06EmqfWI__border-left-color: #dddddd;
  --mixin-yelEd06EmqfWI__border-left-style: solid;
  --mixin-yelEd06EmqfWI__border-left-width: 1px;
  --mixin-yelEd06EmqfWI__border-right-color: #dddddd;
  --mixin-yelEd06EmqfWI__border-right-style: solid;
  --mixin-yelEd06EmqfWI__border-right-width: 1px;
  --mixin-yelEd06EmqfWI__border-top-color: #dddddd;
  --mixin-yelEd06EmqfWI__border-top-style: solid;
  --mixin-yelEd06EmqfWI__border-top-width: 1px;
  --mixin-yelEd06EmqfWI__border-bottom-left-radius: 3px;
  --mixin-yelEd06EmqfWI__border-bottom-right-radius: 3px;
  --mixin-yelEd06EmqfWI__border-top-left-radius: 3px;
  --mixin-yelEd06EmqfWI__border-top-right-radius: 3px;
  --mixin-yelEd06EmqfWI__font-family: "Inconsolata";
  --mixin-yelEd06EmqfWI__padding-bottom: 3px;
  --mixin-yelEd06EmqfWI__padding-left: 6px;
  --mixin-yelEd06EmqfWI__padding-right: 6px;
  --mixin-yelEd06EmqfWI__padding-top: 3px;
  --mixin-yelEd06EmqfWI__white-space: pre-wrap;
  --mixin-t3JdSSU-AxBIJU_display: flex;
  --mixin-t3JdSSU-AxBIJU_flex-direction: column;
  --mixin-t3JdSSU-AxBIJU_align-items: stretch;
  --mixin-t3JdSSU-AxBIJU_justify-content: flex-start;
  --mixin-t3JdSSU-AxBIJU_list-style-position: outside;
  --mixin-t3JdSSU-AxBIJU_padding-left: 40px;
  --mixin-t3JdSSU-AxBIJU_position: relative;
  --mixin-t3JdSSU-AxBIJU_list-style-type: decimal;
  --mixin-t3JdSSU-AxBIJU_white-space: pre-wrap;
  --mixin-cyWmSTaMT0VXSG_display: flex;
  --mixin-cyWmSTaMT0VXSG_flex-direction: column;
  --mixin-cyWmSTaMT0VXSG_align-items: stretch;
  --mixin-cyWmSTaMT0VXSG_justify-content: flex-start;
  --mixin-cyWmSTaMT0VXSG_list-style-position: outside;
  --mixin-cyWmSTaMT0VXSG_padding-left: 40px;
  --mixin-cyWmSTaMT0VXSG_position: relative;
  --mixin-cyWmSTaMT0VXSG_list-style-type: disc;
  --mixin-cyWmSTaMT0VXSG_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-Jm8ZWucUusT2lf_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(
    --mixin-Jm8ZWucUusT2lf_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-e7-c6lkpq-ml3l_font-family);
  font-size: var(--mixin-e7-c6lkpq-ml3l_font-size);
  font-style: var(--mixin-e7-c6lkpq-ml3l_font-style);
  color: var(--mixin-e7-c6lkpq-ml3l_color);
  text-align: var(--mixin-e7-c6lkpq-ml3l_text-align);
  text-transform: var(--mixin-e7-c6lkpq-ml3l_text-transform);
  line-height: var(--mixin-e7-c6lkpq-ml3l_line-height);
  white-space: var(--mixin-e7-c6lkpq-ml3l_white-space);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-kvELUduuvprvr__font-family);
  color: var(--mixin-kvELUduuvprvr__color);
  font-size: var(--mixin-kvELUduuvprvr__font-size);
  font-weight: var(--mixin-kvELUduuvprvr__font-weight);
  letter-spacing: var(--mixin-kvELUduuvprvr__letter-spacing);
  line-height: var(--mixin-kvELUduuvprvr__line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-Dh3d7Z1viIpt7P_font-family);
  color: var(--mixin-Dh3d7Z1viIpt7P_color);
  font-size: var(--mixin-Dh3d7Z1viIpt7P_font-size);
  font-weight: var(--mixin-Dh3d7Z1viIpt7P_font-weight);
  letter-spacing: var(--mixin-Dh3d7Z1viIpt7P_letter-spacing);
  line-height: var(--mixin-Dh3d7Z1viIpt7P_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-uXB6_N8JaPboET_font-family);
  color: var(--mixin-uXB6_N8JaPboET_color);
  font-size: var(--mixin-uXB6_N8JaPboET_font-size);
  font-weight: var(--mixin-uXB6_N8JaPboET_font-weight);
  letter-spacing: var(--mixin-uXB6_N8JaPboET_letter-spacing);
  line-height: var(--mixin-uXB6_N8JaPboET_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-2_g2iENME8WRkE_font-family);
  color: var(--mixin-2_g2iENME8WRkE_color);
  font-size: var(--mixin-2_g2iENME8WRkE_font-size);
  font-weight: var(--mixin-2_g2iENME8WRkE_font-weight);
  letter-spacing: var(--mixin-2_g2iENME8WRkE_letter-spacing);
  line-height: var(--mixin-2_g2iENME8WRkE_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-f5QYTjUJJ8Qdh0_font-family);
  color: var(--mixin-f5QYTjUJJ8Qdh0_color);
  font-size: var(--mixin-f5QYTjUJJ8Qdh0_font-size);
  font-weight: var(--mixin-f5QYTjUJJ8Qdh0_font-weight);
  line-height: var(--mixin-f5QYTjUJJ8Qdh0_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-YgY-CYkkW-nlnn_color);
  padding-left: var(--mixin-YgY-CYkkW-nlnn_padding-left);
  border-left: var(--mixin-YgY-CYkkW-nlnn_border-left-width)
    var(--mixin-YgY-CYkkW-nlnn_border-left-style)
    var(--mixin-YgY-CYkkW-nlnn_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-_DgeW-WACwXytR_font-family);
  border-radius: var(--mixin-_DgeW-WACwXytR_border-top-left-radius)
    var(--mixin-_DgeW-WACwXytR_border-top-right-radius)
    var(--mixin-_DgeW-WACwXytR_border-bottom-right-radius)
    var(--mixin-_DgeW-WACwXytR_border-bottom-left-radius);
  padding: var(--mixin-_DgeW-WACwXytR_padding-top)
    var(--mixin-_DgeW-WACwXytR_padding-right)
    var(--mixin-_DgeW-WACwXytR_padding-bottom)
    var(--mixin-_DgeW-WACwXytR_padding-left);
  border-top: var(--mixin-_DgeW-WACwXytR_border-top-width)
    var(--mixin-_DgeW-WACwXytR_border-top-style)
    var(--mixin-_DgeW-WACwXytR_border-top-color);
  border-right: var(--mixin-_DgeW-WACwXytR_border-right-width)
    var(--mixin-_DgeW-WACwXytR_border-right-style)
    var(--mixin-_DgeW-WACwXytR_border-right-color);
  border-bottom: var(--mixin-_DgeW-WACwXytR_border-bottom-width)
    var(--mixin-_DgeW-WACwXytR_border-bottom-style)
    var(--mixin-_DgeW-WACwXytR_border-bottom-color);
  border-left: var(--mixin-_DgeW-WACwXytR_border-left-width)
    var(--mixin-_DgeW-WACwXytR_border-left-style)
    var(--mixin-_DgeW-WACwXytR_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-yelEd06EmqfWI__font-family);
  border-radius: var(--mixin-yelEd06EmqfWI__border-top-left-radius)
    var(--mixin-yelEd06EmqfWI__border-top-right-radius)
    var(--mixin-yelEd06EmqfWI__border-bottom-right-radius)
    var(--mixin-yelEd06EmqfWI__border-bottom-left-radius);
  padding: var(--mixin-yelEd06EmqfWI__padding-top)
    var(--mixin-yelEd06EmqfWI__padding-right)
    var(--mixin-yelEd06EmqfWI__padding-bottom)
    var(--mixin-yelEd06EmqfWI__padding-left);
  border-top: var(--mixin-yelEd06EmqfWI__border-top-width)
    var(--mixin-yelEd06EmqfWI__border-top-style)
    var(--mixin-yelEd06EmqfWI__border-top-color);
  border-right: var(--mixin-yelEd06EmqfWI__border-right-width)
    var(--mixin-yelEd06EmqfWI__border-right-style)
    var(--mixin-yelEd06EmqfWI__border-right-color);
  border-bottom: var(--mixin-yelEd06EmqfWI__border-bottom-width)
    var(--mixin-yelEd06EmqfWI__border-bottom-style)
    var(--mixin-yelEd06EmqfWI__border-bottom-color);
  border-left: var(--mixin-yelEd06EmqfWI__border-left-width)
    var(--mixin-yelEd06EmqfWI__border-left-style)
    var(--mixin-yelEd06EmqfWI__border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-t3JdSSU-AxBIJU_display);
  flex-direction: var(--mixin-t3JdSSU-AxBIJU_flex-direction);
  align-items: var(--mixin-t3JdSSU-AxBIJU_align-items);
  justify-content: var(--mixin-t3JdSSU-AxBIJU_justify-content);
  list-style-position: var(--mixin-t3JdSSU-AxBIJU_list-style-position);
  padding-left: var(--mixin-t3JdSSU-AxBIJU_padding-left);
  position: var(--mixin-t3JdSSU-AxBIJU_position);
  list-style-type: var(--mixin-t3JdSSU-AxBIJU_list-style-type);
  flex-column-gap: var(--mixin-t3JdSSU-AxBIJU_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-cyWmSTaMT0VXSG_display);
  flex-direction: var(--mixin-cyWmSTaMT0VXSG_flex-direction);
  align-items: var(--mixin-cyWmSTaMT0VXSG_align-items);
  justify-content: var(--mixin-cyWmSTaMT0VXSG_justify-content);
  list-style-position: var(--mixin-cyWmSTaMT0VXSG_list-style-position);
  padding-left: var(--mixin-cyWmSTaMT0VXSG_padding-left);
  position: var(--mixin-cyWmSTaMT0VXSG_position);
  list-style-type: var(--mixin-cyWmSTaMT0VXSG_list-style-type);
  flex-column-gap: var(--mixin-cyWmSTaMT0VXSG_flex-column-gap);
}
