.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox___2Ipz2 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox___2Ipz2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___2Ipz2 > :global(.__wab_flex-container) > *,
.freeBox___2Ipz2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Ipz2 > :global(.__wab_flex-container) > picture > img,
.freeBox___2Ipz2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Ipz2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Ipz2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Ipz2 > :global(.__wab_flex-container) > *,
  .freeBox___2Ipz2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2Ipz2 > :global(.__wab_flex-container) > picture > img,
  .freeBox___2Ipz2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___4HGmM {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___4HGmM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___4HGmM > :global(.__wab_flex-container) > *,
.freeBox___4HGmM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4HGmM > :global(.__wab_flex-container) > picture > img,
.freeBox___4HGmM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__y9FGs {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__bEyUh {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__kJqIn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vJFwi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xXYo4:global(.__wab_instance) {
  position: relative;
}
.svg___0GjHq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mwldH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___0K2Vv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___0K2Vv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0K2Vv > :global(.__wab_flex-container) > *,
.freeBox___0K2Vv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0K2Vv > :global(.__wab_flex-container) > picture > img,
.freeBox___0K2Vv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sMaMv {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__cma13 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__cma13 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cma13 > :global(.__wab_flex-container) > *,
.freeBox__cma13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cma13 > :global(.__wab_flex-container) > picture > img,
.freeBox__cma13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__i9Opn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__nL2Bw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iMgAi:global(.__wab_instance) {
  position: relative;
}
.svg___74OTz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__yfgrx {
  height: auto;
}
.svg__xggws {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cjiO3:global(.__wab_instance) {
  position: relative;
}
.svg___4PSr8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__mlwrj {
  height: auto;
}
.svg__fOIe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__th8D {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__th8D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__th8D > :global(.__wab_flex-container) > *,
.freeBox__th8D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__th8D > :global(.__wab_flex-container) > picture > img,
.freeBox__th8D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__esfrA {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__jm6Wf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___6GBjF {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___6GBjF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___6GBjF > :global(.__wab_flex-container) > *,
.freeBox___6GBjF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6GBjF > :global(.__wab_flex-container) > picture > img,
.freeBox___6GBjF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__lqZwW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Ewbs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sccnT:global(.__wab_instance) {
  position: relative;
}
.svg__cqN8S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6637A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tReMj:global(.__wab_instance) {
  position: relative;
}
.svg__bbWc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iE4Yg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nHfM:global(.__wab_instance) {
  position: relative;
}
.svg___0Azt5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__thyxw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__j5Y7R {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__j5Y7R > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__j5Y7R > :global(.__wab_flex-container) > *,
.freeBox__j5Y7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j5Y7R > :global(.__wab_flex-container) > picture > img,
.freeBox__j5Y7R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__p0Bbu:global(.__wab_instance) {
  position: relative;
}
.svg__leFw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jf0Nn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wKrct:global(.__wab_instance) {
  position: relative;
}
.svg___6Nlla {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wDTxQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yzCe3:global(.__wab_instance) {
  position: relative;
}
.svg__d3G4E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zUaM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
